doctype html
html(lang="es")
  head
    title Acerca de la empresa
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="jquery.js")
    script(src="code.js")
    link(rel="stylesheet" href="style.css")
  body
    .row
      nav.navbar.navbar-expand-md.bg-secondary.navbar-dark.col-md-12.col-sm-12.col-xs-12
        a.mx-5.navbar-brand(href="index")
          img(src="images/logo.png" alt="logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
          span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
          ul.mx-5.navbar-nav
            li.nav-item
              a.nav-link(href="index") PORTADA
            li.nav-item
              a.nav-link(href="products") PRODUCTOS
            li.nav-item
              a.nav-link(href="about") ACERCA DE LA EMPRESA
            li.nav-item
              a.nav-link(href="contact") CONTACTO
            li.nav-item
              a.nav-link(href="webservices") WEBSERVICES
            li.nav-item
              a.nav-link(href="selector") SELECTOR DE PRODUCTOS
            li.nav-item
              a.nav-link(href="chat") CHAT
    .col-12.my-5.text-center
      span
        h2 Tienda líder con más de 5 días de experiencia
    .mx-5.my-5
      | Somos Alejandro, Javier y Santiago.
    .mx-5.my-5.text-justify
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie augue in tellus sollicitudin, id consequat enim interdum. Vestibulum gravida quam id massa bibendum dignissim vel vel augue. Maecenas dapibus consequat vehicula. Aliquam gravida, nibh vitae fermentum faucibus, mi eros blandit lacus, eget interdum ipsum lorem eu purus. Vestibulum aliquet nisi sit amet gravida consequat. Maecenas vestibulum tempus nisi, ut consectetur purus lacinia et. Integer lectus ipsum, viverra a enim at, sollicitudin interdum ligula. Fusce sit amet rhoncus tortor, imperdiet commodo justo. Nam ligula nibh, semper a nunc eget, feugiat ornare nibh.
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie augue in tellus sollicitudin, id consequat enim interdum. Vestibulum gravida quam id massa bibendum dignissim vel vel augue. Maecenas dapibus consequat vehicula. Aliquam gravida, nibh vitae fermentum faucibus, mi eros blandit lacus, eget interdum ipsum lorem eu purus. Vestibulum aliquet nisi sit amet gravida consequat. Maecenas vestibulum tempus nisi, ut consectetur purus lacinia et. Integer lectus ipsum, viverra a enim at, sollicitudin interdum ligula. Fusce sit amet rhoncus tortor, imperdiet commodo justo. Nam ligula nibh, semper a nunc eget, feugiat ornare nibh.
    .row.text-center
      .col-md-4
        div
          a(href="products" target="_blank")
            img(src="images/logok2.jpg" alt="K2" width="150")
          .caption.text-justify
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie augue in tellus sollicitudin, id consequat enim interdum. Vestibulum gravida quam id massa bibendum dignissim vel vel augue. Maecenas dapibus consequat vehicula. Aliquam gravida, nibh vitae fermentum faucibus, mi eros blandit lacus, eget interdum ipsum lorem eu purus. Vestibulum aliquet nisi sit amet gravida consequat. Maecenas vestibulum tempus nisi, ut consectetur purus lacinia et. Integer lectus ipsum, viverra a enim at, sollicitudin interdum ligula. Fusce sit amet rhoncus tortor, imperdiet commodo justo. Nam ligula nibh, semper a nunc eget, feugiat ornare nibh.
              | .
      .col-md-4.my-3
        div
          a(href="products" target="_blank")
            img(src="images/logoar.jpg" alt="Armada" width="200")
          .caption.text-justify
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie augue in tellus sollicitudin, id consequat enim interdum. Vestibulum gravida quam id massa bibendum dignissim vel vel augue. Maecenas dapibus consequat vehicula. Aliquam gravida, nibh vitae fermentum faucibus, mi eros blandit lacus, eget interdum ipsum lorem eu purus. Vestibulum aliquet nisi sit amet gravida consequat. Maecenas vestibulum tempus nisi, ut consectetur purus lacinia et. Integer lectus ipsum, viverra a enim at, sollicitudin interdum ligula. Fusce sit amet rhoncus tortor, imperdiet commodo justo. Nam ligula nibh, semper a nunc eget, feugiat ornare nibh.
              | .
      .col-md-4.my-1
        div
          a(href="products" target="_blank")
            img(src="images/logoat.png" alt="Atomic" width="200")
          .caption.text-justify
            p.my-2
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie augue in tellus sollicitudin, id consequat enim interdum. Vestibulum gravida quam id massa bibendum dignissim vel vel augue. Maecenas dapibus consequat vehicula. Aliquam gravida, nibh vitae fermentum faucibus, mi eros blandit lacus, eget interdum ipsum lorem eu purus. Vestibulum aliquet nisi sit amet gravida consequat. Maecenas vestibulum tempus nisi, ut consectetur purus lacinia et. Integer lectus ipsum, viverra a enim at, sollicitudin interdum ligula. Fusce sit amet rhoncus tortor, imperdiet commodo justo. Nam ligula nibh, semper a nunc eget, feugiat ornare nibh.
              | .
