doctype html
html(lang="es")
  head
    title Tienda de Alejandro, Chocarro y Santiago
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    script(src="jquery.js")
    // <script src="get.js"></script> !
    link(rel="stylesheet" href="style.css")
  body
    .row
      nav.navbar.navbar-expand-md.bg-secondary.navbar-dark.col-md-12.col-sm-12.col-xs-12
        a.mx-5.navbar-brand(href="index")
          img(src="images/logo.png" alt="logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
          span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
          ul.mx-5.navbar-nav
            li.nav-item
              a.nav-link(href="index") PORTADA
            li.nav-item
              a.nav-link(href="products") PRODUCTOS
            li.nav-item
              a.nav-link(href="selector-chat") SELECTOR Y CHAT
            li.nav-item
              a.nav-link(href="about") ACERCA DE LA EMPRESA
            li.nav-item
              a.nav-link(href="contact") CONTACTO
            li.nav-item
              a.nav-link(href="webservices") WEBSERVICES
      #texto.col-12.my-5.text-center
        span
          h6 Al pinchar en los productos se enviará una petición GET
    .row.my-3(style="margin-left: 1em;" align="center")
      .container.col-md-4.col-sm-4.col-12.my-4
        img.image(src="images/pon2oon1.jpg" alt="K2 Pon2oon" height="300")
        .middle
          a(href="webservices?id=1")
            button#k2.btn.btn-light K2 Pon2oon
      .container.col-md-4.col-sm-4.col-12.my-4
        img.image(src="images/armada1.jpg" alt="Armada ARV 116" height="300")
        .middle
          a(href="webservices?id=2")
            button#armada.btn.btn-light Armada ARV 116
      .container.col-md-4.col-sm-4.col-12.my-4
        img.image(src="images/atomic1.jpg" alt="Atomic Redster S9" height="300")
        .middle
          a(href="webservices?id=3")
            button#atomic.btn.btn-light Atomic Redster S9
